<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta description="InquiryWeb : a connected multi-user web of inquiry-centered discourse">
<meta keywords="science inquiry inquiryweb">
<link rel="stylesheet" href="{{ STATIC_URL }}css/inquiryweb-base.css" type="text/css">
{% block head %}{% endblock %}
<title>{% block title %}InquiryWeb{% endblock %}</title>
</head>
<body>
<section id="header">

</section>
<section id="nav">

</section>
{% block content %}{% endblock %}
<section id="footer">

</section>
</body>
</html>
