{% extends "base.html" %}
{% load bootstrap %}
{% bootstrap_css %}
{% bootstrap_js all %}

{% block head %}
{% endblock %}
{% block title %}questions{% endblock %}
{% block content %}
<h1>Welcome to Inquiryfoss</h1>
<h2>Questions</h2>
<section id="questionlist">
{% if latest_question_list %}
<ul>
{% for Event in latest_question_list %}
	<li><a href="/inquiry/event/{{Event.pk}}">{{Event.description}}</a></li> 
{% endfor %}       
</ul>
{% else %}
<p>No questions are available</p>			
{% endif %}
</section>
{% endblock %}