ol {  
list-style-type: none;
padding: 0;
margin: 0;
}

li { 
padding: 0em 1em;
margin: 0em 0em;
}

.inquirythread { 
display: block;
}

.inquiryevent { 
display: block;
color: #FFF; 
background-color: #002366; /* royal blue */
width: 20em;
padding: 0.2em 0.8em;
margin: 0.1em 0em;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.eventmeat {
text-decoration: none;
color: white;
display: block;
}

.eventtype {
font-size: 200%;
}

.eventdescription {
position: relative;
top: -0.5em;
}

.eventmeta {
}

.eventauthor {
}

.eventchoices * {
color: #002366; /* royal blue */
}

.eventchoices:hover {
color: #FFF;                      
}

.inquiryevent:hover { 
background-color: #4169E1; /* royal blue (web) */                      
}

a { 
color: #C0C0C0; /* silver */
}

a:hover {
color: #FFFFC0; /* light yellow */
}

.overlay { 
display:none; /* initially invisible */
z-index:10000; /* place on top */
background-color:#222;
width:100%;
min-height:200px;
border: 1px solid #444;
/* CSS3 */
-moz-box-shadow:0 0 90px 5px #000;
-webkit-box-shadow: 0 0 90px #000;
}

.overlay .closebutton {  /* not used */
background-image:url({{ STATIC_URL }}images/x_button_blue.png);
position:absolute;
right:-15px;
top:-15px;
cursor:pointer;
height:33px;
width:35px;
}