ol {  
list-style-type: none;
padding: 0;
margin: 0;
}

li { 
padding: 0em 1em;
margin: 0em 0em;
}

.inquirythread { 
display: block;
}

.inquiryevent { 
display: block;
color: #FFF; 
background-color: #002366; /* royal blue */
width: 20em;
padding: 0.2em 0.8em;
margin: 0.1em 0em;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.eventmeat {
text-decoration: none;
color: white;
display: block;
}

.eventtype {
font-size: 200%;
}

.eventdescription {
position: relative;
top: -0.5em;
}

.eventmeta {
}

.eventauthor {
}

.eventchoices * {
color: #002366; /* royal blue */
}

.eventchoices:hover {
color: #FFF;                      
}

.inquiryevent:hover { 
background-color: #4169E1; /* royal blue (web) */                      
}

a { 
color: #C0C0C0; /* silver */
}

a:hover {
color: #FFFFC0; /* light yellow */
}